.cards-container {
	/* mask: radial-gradient(circle at left, white 75%, transparent 100%); */
	display: flex;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	display: grid;
	margin-top: 2rem;
	flex-wrap: wrap;
}
.card {
	min-width: 350px;
	max-width: 400px;
	background-color: #f0f0f0;
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
	transform: rotate(-3deg) translateX(10rem);
	margin-left: -35%;
	transition: all 0.2s ease-in-out;
	border-bottom: 0.5rem solid transparent;
}
.card:hover {
	transform: rotate(0deg) scale(1.05) translateX(7rem);
	z-index: 2;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	border-bottom: 0.5rem solid #4daa57;
	cursor: crosshair;
}
.card > img {
	object-fit: cover;
}
@media (width < 768px) {
	.cards-container {
		transform: translateX(-5rem);
		max-width: 350px;
		padding: 0 0.25rem;
	}
	.card {
		min-width: 300px;
	}
}
