---
import { CardZoom } from "../components/CardZoom/CardZoom";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import bg from "../img/cow.jpg";
import image2 from "../img/card2.jpg";
---

<Layout title="Eco Score" />

<section class="w-screen md:h-screen h-full flex items-center justify-center">
	<CardZoom
		client:visible
		image={image2.src}
		preTitle="DATA COLLECTION"
		title="ECO SCORE"
		description="Un eco score o prueba de rendimiento proporciona una manera rápida y fácil de englobar el impacto ambietal de  una empresa. Por ejemplo, un producto con un alto eco score indica que tiene un menor impacto ambiental en comparación con otros productos similares con una puntuación más baja."
	/>
	<Image
		src={bg}
		alt="bg image"
		class="absolute top-0 left-0 w-full h-full object-cover -z-10"
	/>
</section>
