---
import AppHeader from "../components/AppHeader.astro";
import Layout from "../layouts/Layout.astro";
import Creativity from "../components/Creativity.astro";
import Services from "../components/Services.astro";
import HeroSection from "../components/HeroSection.astro";
import WhyFpv from "../components/WhyFpv.astro";
import Inmersion from "../components/Inmersion.astro";
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
import NavbarMobile from "../components/NavbarMobile.astro";
---

<Layout title="Bienvenido a Maiko fpv Web Oficial" />
<AppHeader />
<NavbarMobile />
<main
	class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-hidden scroll-auto">
	<div class="snap-center"><HeroSection /></div>
	<div class="snap-center"><Creativity /></div>
	<div class="snap-center"><Services /></div>
	<div class="snap-center"><WhyFpv /></div>
	<div class="snap-center"><Inmersion /></div>
	<div class="snap-center"><Experience /></div>
	<div class="snap-center"><Contact /></div>
</main>

<style></style>
