---
import { Form } from "./Form/Form";
import { Image } from "astro:assets";
import drone from "../img/bg-contact.webp";
import LandingFooter from "./LandingFooter.astro";
---

<section
	class="w-screen h-screen text-center bg-black/90 relative overflow-hidden z-40 flex justify-start items-center"
	data-header-color="black"
	id="contact">
	<article
		class="z-20 top-0 bottom-0 w-full lg:w-1/2 h-full justify-center px-2 md:px-0 items-center text-star
		flex flex-col">
		<aside class="text-start aside p-4">
			<h5>
				<span class="text-2xl font-bold text-white">Contacto</span>
			</h5>
			<hr />
			<h6 class="text-base md:text-xl font-semibold text-white">
				<span>Simplifica tu gestión</span>, maximiza la sostenibilidad y <br
				/>
				transforma tu empresa con sus beneficios. ​
			</h6>
			<p class="text-sm md:text-base text-white text-pretty max-w-[55ch]">
				Prevé el cambio, moldéalo a tu favor.
			</p>
		</aside>

		<Form client:visible />
	</article>

	<div class="absolute bottom-0 top-0 h-screen w-full">
		<Image
			class="bg-image1 min-h-screen"
			src={drone}
			alt="Image of cow"
			class="object-cover w-full h-full"
		/>
	</div>
	<LandingFooter />
</section>

<style>
	article > aside {
		backdrop-filter: blur(1px);
		border-radius: 1.5rem;
		padding: 1rem;
		background-image: url("../img/bbblurry.svg");
		background-size: cover;
		border-bottom: 0.1rem solid #09f;
		filter: brightness(1.1);
	}
	hr {
		/* margin-left: 2rem; */
		height: 1px;
		margin-block: 0.25rem;
		width: 75%;
		border: none;
		background: linear-gradient(
			to right,
			transparent 0%,
			#09f 50%,
			transparent 100%
		);
	}
	span {
		color: #09f;
		font-weight: 800;
	}
	@media (width < 768px) {
		.bg-image1 {
			mask: radial-gradient(circle at right, white 0%, transparent 100%);
		}
	}
</style>
