---
import check from "../icons/check.svg";
---

<div id="slider" class="flex items-center">
	<div class="span">
		<img src={check.src} class="w-10" alt="check-icon" />
	</div>
	<div class="span" id="sliderValue"></div>
</div>

<script>
	let sliderCounter: number = 0;
	const sliderContent: string[] = ["Automatiza", "Calcula", "Reporta"];
	const slider: HTMLElement | null = document.querySelector("#slider");
	const sliderValue: HTMLElement | null =
		document.querySelector("#sliderValue");

	function slide() {
		if (sliderCounter >= sliderContent.length) {
			sliderCounter = 0;
		}

		if (sliderValue) {
			sliderValue.innerHTML = "";

			if (sliderValue.classList.contains("holder-animation")) {
				sliderValue.classList.remove("holder-animation");
				void sliderValue.offsetWidth;
			}

			sliderValue.classList.add("holder-animation");

			for (let i = 0; i < sliderContent[sliderCounter].length; i++) {
				const letterDiv = document.createElement("div");
				letterDiv.innerHTML = sliderContent[sliderCounter][i];

				if (letterDiv.innerHTML === " ") {
					letterDiv.innerHTML = "&nbsp;";
				}

				letterDiv.classList.add("start");
				letterDiv.classList.add("animation");
				letterDiv.style.animationDelay = i / 10 + "s";
				sliderValue.appendChild(letterDiv);
			}

			sliderCounter++;
		}
	}

	slide();
	setInterval(slide, 3000);
</script>

<style>
	#slider {
		width: 600px;
		width: fit-content;
		gap: 0.5rem;
	}

	#sliderValue {
		display: flex;
		color: #4daa57;
		font-weight: 700;
		font-size: 3rem;
	}

	.start {
		opacity: 0;
	}

	.animation {
		animation: fade 0.3s forwards;
	}

	@keyframes fade {
		0% {
			opacity: 0;
			transform: translateY(20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	.holder-animation {
		animation: holder 4s;
	}

	@keyframes holder {
		0% {
			opacity: 1;
		}
		95% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
</style>
