---
import bg from "../icons/bg.svg";
---

<section
	class="w-screen h-screen text-center bg-black/90 relative overflow-hidden text-white z-40"
	data-header-color="white">
	<div
		class="z-50 absolute m-auto top-0 bottom-0 flex flex-col items-center justify-center pb-24 md:p-0 w-full lg:w-1/2">
		<header
			class="flex flex-col items-start text-start max-w-md md:max-w-xl text-balance mx-auto gap-1 md:gap-6">
			<!-- svg -->

			<img
				class="absolute max-w-[75%] right-0 left-0 top-0 bottom-0 m-auto brightness-200"
				src={bg.src}
				alt="bg svg"
			/>
			<!-- svg -->
			<h1 class="text-4xl md:text-5xl font-bold">
				Descubre el concepto de la creación de contenido
			</h1>
			<h2 class="text-xl md:text-3xl">
				Con la mejor tecnólogia en <span class="font-bold"
					>Drones FPV</span
				>
			</h2>
			<hr />
			<h3 class="text-xl md:text-3xl">
				Sumergete en un mundo de posibilidades y desarrollemos juntos.
			</h3>
		</header>
	</div>

	<!-- video -->
	<div class="absolute bottom-0 top-0 h-screen w-full">
		<!-- <video
			class="object-cover w-full h-full bg-image"
			autoplay
			loop
			muted
			src={video}></video> -->

		<!-- <Image class="h-full opacity-80 bg-image" src={bg2} alt="bg" /> -->
	</div>

	<style>
		header {
			backdrop-filter: blur(5px);
			border-radius: 1.5rem;
			padding: 2rem;
			background-image: url("../img/bbblurry.svg");
			background-size: cover;
			background-position: top;
			background-repeat: no-repeat;
		}

		hr {
			margin: auto;
			padding: 0.1rem 0;
			margin: 0.25rem 0;
			width: 100%;
			border: none;
			background: linear-gradient(
				to right,
				transparent 0%,
				white 50%,
				transparent 100%
			);
		}
		span {
			color: var(--color-subtitle);
		}

		.bg-image {
			object-fit: cover;
			mask: radial-gradient(circle at right, white 60%, transparent 100%);
			z-index: -1;
		}

		@media (width < 768px) {
			video {
				display: none;
			}
		}
	</style>
</section>
