---
import { Image } from "astro:assets";
import img from "../img/farm.jpg";
import { BlurVideo } from "./BlurVideo/BlurVideo";
---

<section
	class="w-screen h-screen text-center bg-black/90 relative overflow-hidden text-black z-40 flex justify-end items-center"
	data-header-color="black"
	id="inmersion">
	<article
		class="z-50 top-0 bottom-0 w-full lg:w-1/2 h-full justify-evenly md:justify-center px-2 md:px-0 items-center
		flex flex-col content-container">
		<aside class="text-start px-8">
			<h5>
				<span class="text-2xl font-bold text-white">Inmersión</span>
			</h5>
			<hr />
			<h6 class="text-xl font-semibold text-white">
				Conocé nuestra<span> revolucionaria app</span> y sumergite en <br
				/> el mundo de la <span> agricultura de precisión.</span>
			</h6>
			<p class="font-normal text-white text-pretty pb-4 max-w-[55ch]">
				La aplicación de AgroInteligencia te permite visualizar y
				analizar los datos de tus cultivos de una manera simple y
				eficiente.
			</p>
		</aside>
		<BlurVideo client:visible />
	</article>
	<div class="absolute bottom-0 top-0 h-screen w-full">
		<Image class="bg-image1" src={img} alt="Image of tractor" />
	</div>
</section>

<style>
	aside {
		margin-bottom: 1rem;
		backdrop-filter: blur(5px);
		border-radius: 0.5rem;
		padding: 0.5rem 1rem;
		background-color: rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
		filter: brightness(1.1);
	}
	.bg-image1 {
		width: 100%;
		height: 100%;
		mask: radial-gradient(circle at left, white 30%, transparent 100%);
		object-fit: cover;
	}
	hr {
		/* margin-left: 2rem; */
		height: 1px;
		margin-bottom: 0.5rem;
		width: 8ch;
		border: none;
		background: linear-gradient(
			to right,
			transparent 0%,
			#4daa57 50%,
			transparent 100%
		);
	}
	span {
		color: #4daa57;
		font-weight: 800;
	}
	@media (width < 768px) {
		.bg-image1 {
			mask: radial-gradient(circle at right, white 0%, transparent 100%);
		}
	}
</style>
