---
import Fader from "./Fader.astro";
import { BlurVideo } from "../components/BlurVideo/BlurVideo";
import img from "../img/sky.webp";
import { Image } from "astro:assets";
---

<section
	class="w-screen h-screen text-center bg-black relative overflow-hidden text-black"
	data-header-color="black"
	id="inmersion">
	<BlurVideo client:visible />
	<Fader />
	<Image
		class="absolute w-full h-full object-cover -z-1"
		src={img}
		alt="Image of drone"
	/>
</section>

<style></style>
