---
import { Image } from "astro:assets";
import img from "../img/cow3.jpg";
import { BlurVideo } from "./BlurVideo/BlurVideo";
---

<section
	class="w-screen h-screen text-center bg-black/90 relative overflow-hidden text-black z-40 flex justify-end items-center"
	data-header-color="black"
	id="video">
	<article
		class="z-50 top-0 bottom-0 w-full md:w-1/2 h-full justify-center items-start
		flex flex-col content-container">
		<aside class="text-start px-8">
			<h5>
				<span class="text-2xl font-bold text-white">Inmersión</span>
			</h5>
			<hr />
			<h6 class="text-xl font-semibold text-white">
				Conocé nuestra<span> revolucionaria app</span> y sumergite en el
				mundo <br /> de la <span> agricultura de precisión.</span>
			</h6>
			<p class="font-normal text-white text-pretty pb-4 max-w-[55ch]">
				La aplicación de AgroInteligencia te permite visualizar y
				analizar los datos de tus cultivos de una manera simple y
				eficiente.
			</p>
			<BlurVideo client:visible />
		</aside>
	</article>
	<div class="absolute bottom-0 top-0 h-screen w-full">
		<Image class="bg-image1" src={img} alt="Image of tractor" />
	</div>
</section>

<style>
	.bg-image1 {
		height: 100%;
		object-fit: cover;
		object-position: top;
		mask: radial-gradient(circle at left, white 10%, transparent 100%);
	}
	hr {
		/* margin-left: 2rem; */
		height: 1px;
		margin-bottom: 0.5rem;
		width: 8ch;
		border: none;
		background: linear-gradient(
			to right,
			transparent 0%,
			#4daa57 50%,
			transparent 100%
		);
	}
	span {
		color: #4daa57;
		font-weight: 800;
	}
</style>
