---
import { Image } from "astro:assets";
import tractor from "../img/irrigator.jpg";
import bg from "../icons/bg.svg";
---

<section
	class="w-screen h-screen text-center bg-black/90 overflow-hidden text-black flex justify-end items-start relative"
	data-header-color="black"
	id="why-cacta">
	<article
		class="z-20 top-0 bottom-0 w-full md:w-1/2 h-full justify-center items-start
		flex flex-col">

		<aside class="px-8 md:p-0 text-start">
			<h5>
				<span class="text-2xl font-bold text-white"
					>¿Por qué Cacta?</span
				>
			</h5>
			<hr />
			<h6 class="text-xl font-semibold text-white">
				Gestionar la <span>sostenibilidad</span>
				nunca fue tan fácil.
			</h6>
			<p class="font-normal text-white text-pretty max-w-[65ch]">
				Alcanza tus objetivos sin complicaciones. Recopila y analiza
				automáticamente tus datos desde resúmenes por establecimiento o
				evaluaciones de rendimiento por KPIs de manera sencilla.
			</p>
		</aside>
		<div class="bullets-container">
			<ol
				class="grid grid-cols-1 items-center content-center mt-2 h-full text-start px-2 md:px-0 max-w-[65ch]">
				<hr class="hr-li" />

				<li class="bullet-item pl-4">
					<span>1</span>
					<p>
						Conexión 100% automatizada al sistema de gestión del
						cliente a través de API desarrolladas.
					</p>
				</li>
				<hr class="hr-li" />

				<li class="bullet-item pl-4">
					<span>2</span>

					<p>
						Algoritmo que tipifica bajo más de 70.000 emisiones
						registradas y 27.000 datos de actividad.
					</p>
				</li>
				<hr class="hr-li" />
				<li class="bullet-item pl-4">
					<span>3</span>

					<p>
						Único software en Latinoamérica y Sudamérica bajo
						metodología “LCA”.
					</p>
				</li>
				<hr class="hr-li" />
				<li class="bullet-item pl-4">
					<span>4</span>

					<p>Solución certificada, precisa y confiable.</p>
				</li>
				<hr class="hr-li" />
				<li class="bullet-item pl-4">
					<span>5</span>

					<p>Paneles e informes automatizados.</p>
				</li>
				<hr class="hr-li" />
				<li class="bullet-item pl-4">
					<span>6</span>

					<p>Paneles e informes automatizados.</p>
				</li>
				<hr class="hr-li" />
			</ol>
		</div>
	</article>
	<!-- video -->
	<div class="absolute bottom-0 top-0 h-screen w-full">
		<Image class="bg-image1" src={tractor} alt="Image of tractor" />
	</div>
</section>

<style>
	hr {
		/* margin-left: 2rem; */
		height: 1px;
		margin-bottom: 0.5rem;
		width: 15ch;
		border: none;
		background: linear-gradient(
			to right,
			transparent 0%,
			#4daa57 50%,
			transparent 100%
		);
	}
	span {
		color: #4daa57;
		font-weight: 800;
	}
	.hr-li {
		margin-left: 2rem;
		height: 1px;
		width: 75ch;
		border: none;
		background: linear-gradient(
			to left,
			transparent 0%,
			#4daa57 75%,
			transparent 100%
		);
	}
	.bg-image1 {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		mask: radial-gradient(circle at left, white 10%, transparent 100%);
	}
	.bullets-container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.bullet-item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		/* padding: 1rem; */
		padding: 0.25rem 0rem;
	}

	.bullet-item > p {
		color: white;
		font-weight: 500;
		font-size: 1rem;
		text-wrap: pretty;
	}
	.bullet-item > span {
		margin-right: 1rem;
		font-size: 1.5rem;
		font-weight: 800;
	}
</style>
