---
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="title"
			content="Maiko FPV - Descubrí el mundo de Filmaker con los mejores drones del mercado"
		/>
		<meta
			name="description"
			content="Bienvenido a Maiko web oficial - Aquí encontrarás información sobre los servicios de filmaker y calidad de drones que ofrecemos. Además, podrás ver nuestros trabajos y contactarnos para cualquier consulta o presupuesto. ¡Gracias por visitarnos! "
		/>
		<meta
			name="keywords"
			content="Maiko, FPV, Drones, Filmaker, Servicios, Calidad, Trabajos, Contacto, Consulta, Presupuesto, Filmación, Edición"
		/>
		<meta name="robots" content="index, follow" />
		<meta name="language" content="Spanish" />
		<meta name="author" content="Maiko FPV" />
		<meta name="canonical" content="https://www.maikofpv.com/" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo1x1.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<ViewTransitions />
	</body>
</html>
<script>
	import "@fontsource-variable/onest";
</script>
<style is:global>
	:root {
		font-family: "Inter", "MedievalSharp", "Poppins";
		body {
			font-family: "Onest Variable", sans-serif;
		}
		/* view transition Api */
		::view-transition-new(root),
		::view-transition-old(root) {
			animation-duration: 0.3s;
		}

		/* view transition Api */
	}
	html {
		scroll-behavior: smooth;
	}
</style>
